@import '../../styles/app.scss';

.about-us-wrapper {
    color: #0A0A0A;
    background: whitesmoke;
    display: block;

    .about-us {
        padding-top: 4vh;
        text-align: center;
        color: #000814;

        h2 {
            font-size: 2rem;
        }

        img {
            margin: 0 auto;
            margin-top: 5vh;
        }

        p {
            margin-top: 1vh;
            font-size: 1.5rem;

            span {
                font-size: 1.2rem;
                display: block;
                opacity: .8;
            }
        }
    }

    .dashed-line {
        border: 2px dashed #001D3D;
        margin: 0 15px;
        margin-bottom: 4vh;
    }

    .warranties {
        margin-top: 4vh;
        background: #ffd60a;

        h2 {
            color: #000814;
            padding: 0 10px;
            padding-top: 4vh;
            padding-bottom: 1vh;
        }

        h3 {
            color: #000814;
            font-weight: 300;
            padding: 0 10px;
            padding-bottom: 4vh;
        }
    }

    .call-us {
        background: $c-db;
        width: vw;
        border-bottom: 5px solid #003566;

        h2 {
            color: whitesmoke;
            text-align: center;
            padding-top: 4vh;
            padding-bottom: 1vh;
            text-align: center;
        }

        h3 {
            color: whitesmoke;
            font-weight: 300;
            text-align: center;
            padding-bottom: 4vh;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;

            .call-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-size: 2rem;
                border: none;
                border-radius: 18px;
                padding: 5px 10px;
                color: #003566;
                background: #ffd60a;
                margin: 10px 0 2px 0;
                transition: .3s;
                opacity: 1;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                }

                img {
                    margin-right: 15px;
                }
            }
        }
    }

    .call-us-2 {
        background: #ffd60a;
        width: vw;

        h2 {
            color: #003566;
            text-align: center;
            padding-top: 2vh;
            padding-bottom: 1vh;
            text-align: center;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;

            .call-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                font-size: 2rem;
                border: none;
                border-radius: 18px;
                padding: 5px 10px;
                color: #ffd60a;
                background: #003566;
                margin: 10px 0 2px 0;
                transition: .3s;
                opacity: 1;

                &:hover {
                    cursor: pointer;
                    opacity: .9;
                }

                img {
                    margin-right: 15px;
                }
            }
        }
    }

    .info {
        background: #FFD60A;
        max-width: 96vw;
        margin: auto;
        border-radius: 18px;

        h2 {
            color: #000814;
            text-align: center;
            padding: 0 5px;
            padding-top: 2vh;
            padding-bottom: 2vh;
            font-weight: 300;
        }
    }

    .info-2 {
        background: #FFD60A;
        max-width: 96vw;
        margin: 4vh auto;
        border-radius: 18px;
        color: #000814;

        h2 {
            color: #000814;
            text-align: center;
            padding: 0 5px;
            padding-top: 2vh;
            padding-bottom: 1vh;
            font-weight: 300;

            p {
                margin: 10px px;
                padding-bottom: 5px;
                border-bottom: 1px dashed rgb(151, 128, 27);
            }

            p:last-child {
                padding-bottom: 10px;
                border-bottom: none;
            }
        }
    }

    .pricelist {
        background: whitesmoke;

        h2 {
            color: #000814;
            padding: 0 5px;
            padding-bottom: 1vh;
            font-weight: 300;
            text-align: center;
            font-size: 3rem;
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px 0 0 0;
        }

        .text {
            color: #000814;
            text-align: center;
            font-size: 7.7rem;
            margin-bottom: 50px;

            span {
                margin-top: -60px;
                display: block;
                font-size: 5.5rem;
                color: #003566;
                font-weight: 600;
            }

            .info-text {
                font-size: 1rem;
                margin: 0 15px;
            }
        }
    }

    .line {
        width: 20vw;
        height: 2px;
        background: #003566;
    }

    .carousel {

        img {
            display: block;
            min-height: 50vh;
            object-fit: cover;
        }
    }

    .locations {
        margin-top: 4vh;
        background: #000814;
        color: whitesmoke;

        h2 {
            padding: 0 10px;
            padding-top: 4vh;
            padding-bottom: 1vh;

            span {
                display: block;
            }
        }

        h3 {
            text-align: center;
            font-weight: 300;
            padding: 0 10px;
            padding-top: 4vh;
            padding-bottom: 4vh;
            background: #001D3D;

            span {
                display: block;
            }
        }

        ul {
            display: flex;
            justify-content: space-around;
            padding-bottom: 2vh;
            font-size: 1.5rem;

            li {
                color: #FFD60A;
                font-size: 1.7rem;
            }
        }
    }

    .info-2-title {
        color: #000814;
        margin-top: 50px;
        text-align: center;
    }






    .what-to-do {
        text-align: center;
        padding-top: 4vh;
        margin-left: 10px;
        margin-right: 10px;
        color: #000814;

        span {
            color: #FFC300;
        }

        .top-line {
            border-top: 1px solid #FFC300;
        }

        .bottom-line {
            border-bottom: 1px solid #FFC300;
        }

        p {
            margin-top: 30px;
            padding: 10px;
            text-align: start;
            font-size: 2rem;
            color: whitesmoke;
            background: #003566;
            border-radius: 18px;
            margin-bottom: 12px;
        }

        .info-item {
            color: #000814;
            background: #FFD60A;
            padding: 3px;
        }
    }

    .info-3-title {
        color: #000814;
        margin-top: 50px;
        margin-bottom: 25px;
        text-align: center;
        text-decoration: overline;
    }

}

.content-wrapper {
    display: none;
}











































@media (min-width: 1050px) {
    .about-us-wrapper {
        display: none;
    }

    .content-wrapper {
        display: block;
        color: #0A0A0A;
        background: whitesmoke;

        .content {
            max-width: 1240px;
            margin: auto;

            .about-us {
                padding-top: 4vh;
                text-align: center;
                color: #000814;

                .flex-about-us {
                    display: flex;
                    justify-content: space-between;
                }

                h2 {
                    font-size: 2rem;
                }

                img {
                    margin: 0 auto;
                    margin-top: 5vh;
                }

                p {
                    margin-top: 1vh;
                    font-size: 1.5rem;

                    span {
                        font-size: 1.2rem;
                        display: block;
                        opacity: .8;
                    }
                }
            }

            @media (max-width: 1240px) {
                .about-us {
                    width: 100%;
                    padding: 0 10px;
                }
            }

            .dashed-line {
                border: 2px dashed #001D3D;
                margin: 0 15px;
                margin-bottom: 4vh;
            }


            .call-us-2 {
                background: #ffd60a;
                width: vw;

                h2 {
                    color: #003566;
                    text-align: center;
                    padding-top: 2vh;
                    padding-bottom: 1vh;
                    text-align: center;
                }

                .btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .call-btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 300px;
                        font-size: 2rem;
                        border: none;
                        border-radius: 18px;
                        padding: 5px;
                        color: #ffd60a;
                        background: #003566;
                        margin: 10px 0 2px 0;
                        transition: .3s;
                        opacity: 1;

                        &:hover {
                            cursor: pointer;
                            opacity: .9;
                        }

                        img {
                            margin-right: 15px;
                        }
                    }
                }
            }

            .info {
                background: #FFD60A;
                max-width: 96vw;
                margin: auto;
                border-radius: 18px;

                h2 {
                    color: #000814;
                    text-align: center;
                    padding: 0 5px;
                    padding-top: 2vh;
                    padding-bottom: 2vh;
                    font-weight: 300;
                }
            }

            .info-2 {
                background: #FFD60A;
                max-width: 96vw;
                margin: 4vh auto;
                border-radius: 18px;
                color: #000814;
                box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

                h2 {
                    color: #000814;
                    text-align: center;
                    padding: 0 5px;
                    padding-top: 2vh;
                    padding-bottom: 1vh;
                    font-weight: 300;

                    p {
                        margin: 10px px;
                        padding-bottom: 30px;
                        padding-top: 30px;
                        border-bottom: 1px dashed rgb(151, 128, 27);
                        max-width: 70%;
                        margin: auto;
                    }

                    p:last-child {
                        padding-bottom: 30px;
                        border-bottom: none;
                    }
                }

                .flex-info-2 {}
            }

            .pricelist {
                background: whitesmoke;

                h2 {
                    color: #000814;
                    padding: 0 5px;
                    padding-bottom: 1vh;
                    font-weight: 300;
                    text-align: center;
                    font-size: 3rem;
                }

                .flex {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 50px 0 0 0;
                }

                .text {
                    color: #000814;
                    text-align: center;
                    font-size: 7.7rem;
                    margin-bottom: 50px;

                    span {
                        margin-top: -60px;
                        display: block;
                        font-size: 5.5rem;
                        color: #003566;
                        font-weight: 600;
                    }

                    .info-text {
                        font-size: 1rem;
                        margin: 0 15px;
                    }
                }
            }

            .line {
                width: 20vw;
                height: 2px;
                background: #003566;
            }

            .carousel {

                img {
                    display: block;
                    min-height: 50vh;
                    object-fit: cover;
                }
            }

            .flex-carousel {
                margin-bottom: 50px;
            }


            .locations {
                margin-top: 4vh;
                background: #000814;
                color: whitesmoke;

                .flex-locations {
                    display: flex;
                    align-items: center;

                    .locations-items {
                        width: 50%;
                    }
                }

                .show-text {
                    width: 50%;
                    border-right: 30px solid transparent;
                }

                h2 {
                    padding: 0 10px;
                    padding-top: 4vh;
                    padding-bottom: 1vh;
                    margin-left: 17%;

                    span {
                        display: block;
                    }
                }

                h3 {
                    text-align: center;
                    font-weight: 300;
                    padding: 0 10px;
                    padding-top: 4vh;
                    padding-bottom: 4vh;
                    min-height: 100%;
                    color: #000814;
                    border-radius: 18px;
                    background: whitesmoke;

                    span {
                        display: block;
                    }
                }

                ul {
                    display: flex;
                    justify-content: space-around;
                    padding-bottom: 2vh;
                    font-size: 1.5rem;

                    li {
                        color: #FFD60A;
                        font-size: 1.7rem;
                    }
                }
            }

            .info-2-title {
                color: #000814;
                margin-top: 50px;
                text-align: center;
            }






            .what-to-do {
                text-align: center;
                padding-top: 4vh;
                margin-left: 10px;
                margin-right: 10px;
                color: #000814;
                margin-bottom: 10px;

                .flex-what-to-do {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }

                .info-1 {
                    width: 48%;
                }

                span {
                    color: #FFC300;
                }

                .top-line {
                    border-top: 1px solid #FFC300;
                }

                .bottom-line {
                    border-bottom: 1px solid #FFC300;
                }

                p {
                    margin-top: 30px;
                    padding: 10px;
                    text-align: start;
                    font-size: 2rem;
                    color: whitesmoke;
                    background: #003566;
                    border-radius: 18px;
                    margin-bottom: 12px;
                }

                .info-item {
                    color: #000814;
                    background: #FFD60A;
                    padding: 3px;
                }
            }

            .info-3-title {
                color: #000814;
                margin-top: 50px;
                margin-bottom: 25px;
                text-align: center;
                text-decoration: overline;
            }
        }
    }

    .flex-warranties {
        margin-top: 4vh;
        display: flex;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }

    .warranties {
        padding-top: 2vh;
        width: 50%;
        background: #ffd60a;
        border-left: 10px solid #003566;

        h2 {
            color: #000814;
            padding: 0 10px;
            padding-top: 4vh;
            padding-bottom: 1vh;
        }

        h3 {
            color: #000814;
            font-weight: 300;
            padding: 0 10px;
            padding-bottom: 4vh;
        }
    }

    .call-us {
        background: $c-db;
        width: 50%;
        border-right: 10px solid #ffd60a;

        h2 {
            color: whitesmoke;
            text-align: center;
            padding-top: 4vh;
            padding-bottom: 1vh;
            text-align: center;
        }

        h3 {
            color: whitesmoke;
            font-weight: 300;
            text-align: center;
            padding-bottom: 4vh;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;

            .call-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 300px;
                font-size: 2rem;
                border: none;
                border-radius: 18px;
                padding: 5px;
                color: #003566;
                background: #ffd60a;
                margin: 10px 0 2px 0;
                transition: .3s;
                opacity: 1;

                &:hover {
                    cursor: pointer;
                    opacity: .7;
                }

                img {
                    margin-right: 15px;
                }
            }
        }
    }
}

.space {
    padding-bottom: 20px;
    border-bottom: 5px solid #003566;
}

.carousel {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}