@import '../../styles/app.scss';

.navbar-wrapper {
    max-height: 15vh;
    background: $c-db;
    max-width: 100vw;

    .navbar {
        position: relative;

        .languages {
            width: 100px;
            margin: auto;
            justify-content: space-evenly;
            display: flex;

            button {
                padding: 0 1px;
                background: #FFC300;
                color: $c-db;
                border: none;
                padding: 0 10px;

                &:hover {
                    cursor: pointer;
                }
            }

            .languages-m {
                display: none;
            }

        }

        @media (max-width: 1049px) {

            .languages-m {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                position: absolute;
                font-size: 1.6rem;
                height: 100%;
                right: 5px;

                button {
                    padding: 0 1px;
                    background: #FFC300;
                    color: $c-db;
                    border: none;
                    padding: 0 10px;

                    &:hover {
                        cursor: pointer;
                    }
                }

            }
        }

        @media (min-width: 1050px) {
            .languages-m {
                display: none;
            }
        }

        .head-info {
            display: flex;
            height: 15vh;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            text-transform: uppercase;

            .header-title {
                color: $c-r;
                font-size: 1.9rem;
                border-bottom: 1px solid $c-r;
                display: block;
            }

            .phone-number {
                color: #f1faee;
                font-size: 2.2rem;
                display: block;
            }
        }

        .menu {
            display: none;
        }
    }

    @media (min-width: 1050px) {
        .navbar {

            .head-info {
                display: flex;
                height: 8vh;
                text-transform: uppercase;

                .header-title {
                    display: none;
                }

                .phone-number {
                    display: none;
                }
            }

            .menu {
                display: flex;
                width: 1240px;
                justify-content: space-between;
                align-items: center;
                position: relative;

                color: whitesmoke;

                .navbar-grid-1 {
                    display: flex;

                    .left-menu {
                        margin-right: 20px;
                        transition: .3s;

                        &:hover {
                            cursor: pointer;
                            opacity: .8;
                        }
                    }
                }

                .navbar-grid-2 {
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                    width: 200px;
                    font-size: 1.2rem;

                    span {
                        border-top: 1px solid #FFD60A;
                    }
                }

                .navbar-grid-3 {
                    margin-left: 20px;
                    font-size: 1.8rem;
                    color: #FFC300;
                }
            }

            @media (max-width: 1250px) {
                .menu {
                    width: 98vw;
                }
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: inherit;
}